# Python
__pycache__/
*.pyc
.pytest_cache/
# Environment
venv/
env/
.conda/

# Data (keep only small samples)
data/*
!data/images/

# Results (keep only samples)
results/*
!results/productpackage1_detected.jpg
!results/streetsign1_detected.jpg
!results/publicsign1_detected.jpg
